@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 100%);
    --neutral-100: hsl(0, 0%, 62.75%);
    --neutral-200: hsl(0, 0%, 31.76%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-text {
  color: var(--foreground);
}

.secondary-text {
  color: var(--neutral-100);
}

.border-primary {
  border-color: var(--neutral-200);
}